body{
    
}
h1{
    color: #181816;


}
section{
    width: 100%;
    height: 800px;
    float: left;
}
/* Presentation */
#home{
    background: url('images/Guitar.jpeg');
    background-size: cover;
    background-position: center;
    background-color: #f9f9f9;
   }


.nav{
    height: 35px;
    padding-right: 2%;
    
}
.active{
    text-decoration: underline;
}
.nav-item{
    
    padding-right: 1.5%;
}
.nav-link{
    font-family: 'Roboto', sans-serif;
    color: #8685EF;
    font-size: larger;
}

.container-fluid{
    margin-left: 5%;
    width: 50%;
    text-align: center;
}

.title-name{
    font-family: 'Merienda',cursive;
    font-weight: bold;
    font-size: 70px;
    padding-top: 15%;
    padding-left: 7%;
    padding-bottom: 10%;
    
}
.title-under{
    display: block;
    font-family: 'Roboto',sans-serif;
    padding-bottom: 10%;
}
.contact-btn{
    width: 15rem;
    background-color: #b2b0ad;
    font-size: 25px;
    font-family: 'Roboto',sans-serif;
    position: relative;
    margin: auto;

}
 

.contact-btn:hover{
    background-color: #EF2D2D;
}

/* About */

#about{
    background-color: #8685EF;
}