h1 {
    color: #3b3b3b;
    margin-top: 2.5%;
}

h2 {
    font-family: 'Roboto';
    font-size: 50px;
    margin-top: 5%;

}

section {
    width: 100%;
    height: 800px;
    float: left;
}

/* Presentation */
#home {
    background: url('images/Guitar.jpeg');
    background-size: cover;
    background-position: center;
    background-color: #f9f9f9;
}

/* navigation */
ul {
    list-style-type: none;
    position: relative;
}

li {
    float: left;
}

li a {
    color: rgb(238, 68, 68);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 25px;
    margin-top: 35px;
    ;
}

a {
    display: block;
    padding: 8px;

}
.navi{
    display: flex;
    flex-direction: row;
}

.navbar {
    background-color: transparent;
    height: auto;
    margin-right: 10%;
}
.navLogo{
    width: 40px;
    height: auto;
    border-radius: 100%;
    
}



/* presentation */
.container-fluid {
    margin-left: 5%;
    width: 50%;
    text-align: center;
}


.title-name {
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    font-size: 80px;
    padding-top: 5%;
    padding-left: 7%;
    padding-bottom: 7%;
    text-shadow: 2px 3px 3px #747474;

}

.title-under {
    display: block;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10%;
    font-size: 2.5rem;
    margin-top: 10px;
}

.contact-btn {
    width: 15rem;
    background-color: rgb(238, 68, 68);
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: auto;
    box-shadow: 3px 3px 3px #b2b0ad;
    border-radius: 25px;

}


.contact-btn:hover {
    background-color: #b2b0ad;

}

/* About */

#about {
    background-color: #F9F9F7;

}

#about p {
    color: rgb(238, 68, 68);
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    margin-top: 12%;
    line-height: 3rem;
    text-align: center;

}


.about-p {
    border-radius: 10px;
    background-color: #f3f0f0;
}

.fas {
    font-size: 1rem;
}



/* Portfolio */

#portfolio {
    background-color: #f0f0f0;
}

.carousel-item img {
    height: 550px;
    margin-top: 5%;
}




/* Contact */

#contact {
    background-color: #f9f9f7;
}

/* Footer */